:root {
  --orange-color: #da722c;
  --dark-blue-color: #070917;
  /* --dark-color: */
  --light-color: #e8f7fb;
  --light-blue: #6f7dfb;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
/* Wrapper */
.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}
/* Buttons */
.btn {
  border-radius: 24px;
  padding: 16px 32px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}
.btn.dark {
  background: var(--dark-blue-color);
}
.btn.light {
  background: var(--orange-color);
}

.btn.enroll-ichon::before {
  content: url("./images/en.png");
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enroll-ichon {
  padding-left: 60px;
}

/* Header */

header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100vh;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 36px;
  z-index: 100px;
}

nav .logo {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* HERO SECTION */
.hero-section {
  padding-top: 60px;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* Achivements-Card */

.hero-section .left h1 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 0px;
}

.hero-section .left p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  width: 457px;
}

.hero-section .left {
  flex: 1;
}
.hero-section .right {
  align-self: flex-end;
}
.hero-section .right img {
  height: 520px;
  vertical-align: middle;
}

.achivements-cards {
}

.achivement-card {
  position: absolute;
}
.achivement-card .content {
  border-radius: 24px;
  background-color: #fff;
  padding: 8px 32px;
  z-index: 10;
  position: relative;
}

.achivement-card.students-enrolled {
  left: 51%;
  top: 270px;
}

.achivement-card.overall-rating {
  left: 47%;
  top: 470px;
  min-width: 200px;
}
.achivement-card .content div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.achivement-card h3 {
  font-size: 36px;
  font-weight: bold;
  color: #023047;
  margin: 0px;
  text-align: center;
  width: 100%;
}

.achivement-card p {
  font-size: 16px;
  color: var(--dark-blue-color);
  margin-top: -8px;
  margin-bottom: 8px;
}
.achivement-card .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  top: 8px;
  left: 8px;
  border-radius: 24px;
  z-index: 1;
}

/* Section */
section {
  margin-top: 100px;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: var(--dark-blue-color);
}

h2.light {
  color: #fff;
}
section P {
  font-size: 16px;
  color: var(--dark-blue-color);
  margin: 12px 0;
}

.testimonials-section {
  display: flex;
  gap: 100px;
  align-items: center;
}
.testimonials-section .mobile-btn {
  display: none;
}

.testimonials-section .testimonial-card {
  width: 442px;
  background: #fff;
  box-shadow: 0 9px 36px;
  border-radius: 24px;
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card .content {
  font-weight: 900;
  font-size: 18px;
  border-radius: 24px;
  padding: 24px 32px;
  color: #fff;
  align-items: center;
  background: var(--light-blue);
}

.testimonials-section .testimonial-card:last-child .content {
  background: var(--orange-color);
}

.testimonials-section .testimonial-card .info h4 {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  color: var(--dark-blue-color);
}
.testimonials-section .testimonial-card .info {
  padding: 24px 34px;
}
.testimonials-section .achivement-card .info p.company {
  font-size: 18px;
  color: var(--dark-blue-color);
}

.testimonials-section .testimonial-card img {
  height: 120px;
  width: 120px;
  position: absolute;
  right: 32px;
  bottom: 20px;
}

/* to change the position */
.testimonials-section .testimonial-card:last-child {
  transform: translateX(20px);
}
