:root{
    --orange-color:#DA722C; 
    --dark-blue-color:#070917;
    /* --dark-color: */
    --light-color:#E8F7FB;
    --light-blue:#6F7DFB;
}

*,
::after,
::before{
    box-sizing: border-box;
}

body{
    margin: 0px;
}