:root {
  --orange-color: #da722c;
  --dark-blue-color: #070917;
  /* --dark-color: */
  --light-color: #e8f7fb;
  --light-blue: #6f7dfb;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
/* Wrapper */
.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}
/* Buttons */
.btn {
  border-radius: 24px;
  padding: 16px 32px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}
.btn.dark {
  background: var(--dark-blue-color);
}
.btn.light {
  background: var(--orange-color);
}

.btn.enroll-ichon::before {
  content: url("./images/en.png");
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enroll-ichon {
  padding-left: 60px;
}

/* Header */

header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
}
